<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Draft//EN">
<HTML>
  <HEAD>
    <TITLE>Serverside Drawing App</TITLE>
  </HEAD>
  <BODY>
    <H1>CLICK TO DRAW</H1>
    <A href="/">
      <IMG SRC="<%= @image %>" ISMAP>
    </A>
    <BR/>
    <B>NOTE:</B> Canvas is reset on server restart.
  </BODY>
</HTML>
